proj.android/
proj.ios_mac/
proj.linux/
bin/
win32-build/bin/
win32-build/Debug/
win32-build/win32/Debug/
win32-build/MyGame.dir/Debug/
win32-build/engine/cocos/*/*.dir/Debug/
win32-build/engine/external/*/Debug/
win32-build/engine/external/*/*.dir/Debug/
win32-build/lib/Debug/

